.hero{
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing_image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
}

.test {
    font-size: 100px;
    font-weight: 7;
    top: -65px;
}

