nav {
    display: flex;
    background-color: transparent;
}

.etmn-logo {
    width: 60px;
    margin-left: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  max-width: 600px;
  margin-left: 350px;
}



@media screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }
}

nav li {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 4px;
}

nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .25em;
  display: inline-block;
  padding: 15px;
  position: relative;
    font-weight: 600;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar-logo:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0;
    left: 0;
    top: 35px;
    width: 100%;
    padding: 0;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.menu1:hover .submenu {
    visibility: visible;
    align-items: center;
    opacity: 1;
    top: 60px;
    transform: translateY(0px);
}
